@model SetVariableViewModel
<div class="form-group">
    <label asp-for="VariableName">@T["Variable Name"]</label>
    <input asp-for="VariableName" class="form-control"/>
    <span asp-validation-for="VariableName" class="text-danger"></span>
    <small class="form-text text-muted">@T["The name of the variable to set."]</small>
</div>
<div class="form-group">
    <label asp-for="ValueExpression">@T["Value"]</label>
    <vc:expression-editor model="@Model.ValueExpression" prefix="@Html.NameFor(m => m.ValueExpression)"></vc:expression-editor>
    <span asp-validation-for="ValueExpression" class="text-danger"></span>
    <small class="form-text text-muted">@T["Enter an expression that evaluates to the value to use for the variable to set."]</small>
</div>