<div class="p-6">
    <div class="relative rounded-md shadow-sm">
        <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
            <svg class="h-6 w-6 text-gray-400" width="24" height="24" viewBox="0 0 24 24"
                 stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                 stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z"/>
                <circle cx="10" cy="10" r="7"/>
                <line x1="21" y1="21" x2="15" y2="15"/>
            </svg>
        </div>
        <input type="text" @bind="ActivitySearchText" @bind:event="oninput" class="form-input block w-full pl-10 sm:text-sm sm:leading-5" placeholder="Search activities">
    </div>
</div>

<div class="border-b border-gray-200">
    <div class="px-6">
        <nav class="-mb-px flex space-x-6" x-descriptions="Tab component">
            @foreach (var activityTypeFilter in ActivityTraitFilters)
            {
                var activeClass = activityTypeFilter == SelectedActivityTraitFilter ? "border-blue-500 text-blue-600 focus:text-blue-800 focus:border-blue-700" : "border-transparent text-gray-500 focus:text-gray-700 focus:border-gray-300";
                <a href="#" @onclick:preventDefault @onclick="@(() => OnActivityTypeFilterClick(activityTypeFilter))" class="whitespace-no-wrap pb-4 px-1 border-b-2 font-medium text-sm leading-5 focus:outline-none @activeClass" aria-current="page">
                    @activityTypeFilter.ToString()
                </a>
            }
        </nav>
    </div>
</div>

<div class="p-6 space-y-6 overflow-y-auto">

    @foreach (var grouping in ActivityGroupings.OrderBy(x => x.Key))
    {
        <div>
            <h2>@grouping.Key</h2>

            <ul class="grid grid-cols-1 gap-4 mt-3" x-max="1">
                @foreach (var activity in grouping.OrderBy(x => x.DisplayName))
                {
                    <li @onclick="(() => OnActivityClick(activity))" class="relative col-span-1 flex shadow-sm rounded-md select-none cursor-pointer">
                        <div class="flex-shrink-0 flex items-center justify-center w-16 bg-blue-600 text-white text-sm leading-5 font-medium rounded-l-md">
                            <svg class="h-10 w-10 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"/>
                            </svg>
                        </div>
                        <div class="flex-1 flex items-center justify-between border-t border-r border-b border-gray-200 bg-white rounded-r-md">
                            <div class="flex-1 px-4 py-2 text-sm leading-5">
                                <span class="text-gray-900 font-medium hover:text-gray-600 transition ease-in-out duration-150">
                                    @activity.DisplayName
                                </span>
                                <p class="text-gray-500">
                                    @activity.Description
                                </p>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    }
</div>