@page "/workflow-instances"
@using Elsa.Client.Models
<!-- Page title & actions -->
<div class="border-b border-gray-200 px-4 py-4 sm:flex sm:items-center sm:justify-between sm:px-6 lg:px-8">
    <div class="flex-1 min-w-0">
        <h1 class="text-lg font-medium leading-6 text-gray-900 sm:truncate">
            Workflow Instances
        </h1>
    </div>
</div>

<div class="relative z-10 flex-shrink-0 flex h-16 bg-white border-b border-gray-200">
    <!-- Search bar -->
    <div class="flex-1 px-4 flex justify-between sm:px-6 lg:max-w-6xl lg:px-8">
        <div class="flex-1 flex">
            <EditForm EditContext="EditContext" OnValidSubmit="OnSearchSubmit" class="w-full flex md:ml-0">
                <label for="search_field" class="sr-only">Search</label>
                <div class="relative w-full text-cool-gray-400 focus-within:text-cool-gray-600">
                    <div class="absolute inset-y-0 left-0 flex items-center pointer-events-none">
                        <svg class="h-5 w-5" fill="currentColor" viewBox="0 0 20 20">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"></path>
                        </svg>
                    </div>
                    <InputText @bind-Value="@SearchModel.SearchTerm" id="search_field" class="block w-full h-full pl-8 pr-3 py-2 rounded-md text-cool-gray-900 placeholder-cool-gray-500 focus:outline-none focus:placeholder-cool-gray-400 sm:text-sm border-0" placeholder="Search" type="search"/>
                </div>
            </EditForm>
        </div>
    </div>
</div>

<div class="p-8 flex content-end justify-right bg-white space-x-4">
    <div class="flex-shrink-0">
        <ButtonDropdown Text="Bulk Actions" IconType="@typeof(BulkActionIcon)" Origin="@ButtonDropdownOrigin.TopLeft">
            <a href="#" x-on:click="open = false" @onclick="@OnBulkRetryWorkflowsClick" @onclick:preventDefault class="block px-4 py-2 text-sm hover:bg-gray-100 text-gray-700 hover:text-gray-900" role="menuitem">Retry</a>
            <a href="#" x-on:click="open = false" @onclick="@OnBulkDeleteWorkflowsClick" @onclick:preventDefault class="block px-4 py-2 text-sm hover:bg-gray-100 text-gray-700 hover:text-gray-900" role="menuitem">Delete</a>
            @foreach (var menuItem in WorkflowInstanceListViewContext.BulkMenuItems)
            {
                @menuItem
            }
        </ButtonDropdown>
    </div>
    <div class="flex-1">
        &nbsp;
    </div>
    <ButtonDropdown Text="@SelectedWorkflowText" Items="@WorkflowFilterItems" IconType="@typeof(SquaresIcon)" Origin="@ButtonDropdownOrigin.TopRight"/>
    <ButtonDropdown Text="@SelectedWorkflowStatusText" Items="@WorkflowStatusFilterItems" IconType="@typeof(PlayCircleIcon)" Origin="@ButtonDropdownOrigin.TopRight"/>
    <ButtonDropdown Text="@SelectedOrderByText" Items="@OrderByItems" IconType="@typeof(SortDescendingIcon)" Origin="@ButtonDropdownOrigin.TopRight"/>
</div>

<!-- Workflow instances (only on smallest breakpoint) -->
<div class="mt-10 sm:hidden">
    <div class="px-4 sm:px-6">
        <h2 class="text-gray-500 text-xs font-medium uppercase tracking-wide">Workflow Instances</h2>
    </div>
    <ul class="mt-3 border-t border-gray-200 divide-y divide-gray-100">
        @foreach (var workflowInstance in WorkflowInstances.Items)
        {
            var workflowKey = (workflowInstance.DefinitionId, workflowInstance.Version);
            var workflowBlueprint = WorkflowBlueprints.ContainsKey(workflowKey) ? WorkflowBlueprints[workflowKey] : new WorkflowBlueprintSummary { DisplayName = "(Blueprint Not Found)" };
            var displayName = workflowBlueprint.DisplayName!;
            var statusColor = GetStatusColor(workflowInstance.WorkflowStatus);
            var viewUrl = $"workflow-instances/{workflowInstance.Id}/viewer";
            
            <li>
                <a href="@viewUrl" class="flex items-center justify-between px-4 py-4 hover:bg-gray-50 sm:px-6">
                    <div class="flex items-center truncate space-x-3">
                        <div class="w-2.5 h-2.5 flex-shrink-0 rounded-full bg-@statusColor-600"></div>
                        <p class="font-medium truncate text-sm leading-6">@displayName</p>
                    </div>
                    <svg class="ml-4 h-5 w-5 text-gray-400 group-hover:text-gray-500 group-focus:text-gray-600 transition ease-in-out duration-150" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"/>
                    </svg>
                </a>
            </li>
        }
    </ul>
</div>
<!-- Workflow instances table (small breakpoint and up) -->
<div class="hidden mt-8 sm:block">
    <div class="align-middle inline-block min-w-full border-b border-gray-200">
        <table class="min-w-full">
            <thead>
            <tr class="border-t border-gray-200">
                <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                    <input type="checkbox" value="true" @onchange="OnCheckAllChange" checked="@SelectAllCheck" class="focus:ring-blue-500 h-4 w-4 text-blue-600 border-gray-300 rounded"/>
                </th>
                <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                    <span class="lg:pl-2">ID</span>
                </th>
                <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                    Workflow
                </th>
                <th class="hidden md:table-cell px-6 py-3 border-b border-gray-200 bg-gray-50 text-right text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                    Version
                </th>
                <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                    Instance Name
                </th>
                <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                    Status
                </th>
                <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                    Created
                </th>
                <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                    Finished
                </th>
                <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                    Last Executed
                </th>
                <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                    Faulted
                </th>
                <th class="pr-6 py-3 border-b border-gray-200 bg-gray-50 text-right text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider"></th>
            </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-100">
            @foreach (var workflowInstance in WorkflowInstances.Items)
            {
                var workflowKey = (workflowInstance.DefinitionId, workflowInstance.Version);
                var workflowBlueprint = WorkflowBlueprints.ContainsKey(workflowKey) ? WorkflowBlueprints[workflowKey] : new WorkflowBlueprintSummary { DisplayName = "(Blueprint Not Found)" };
                var instanceName = string.IsNullOrWhiteSpace(workflowInstance.Name) ? "" : workflowInstance.Name;
                var displayName = workflowBlueprint.DisplayName!;
                var statusColor = GetStatusColor(workflowInstance.WorkflowStatus);
                var viewUrl = $"workflow-instances/{workflowInstance.Id}/viewer";
                var isSelected = SelectedWorkflowInstanceIds.Contains(workflowInstance.Id);
                var displayContext = WorkflowInstanceDisplayContexts[workflowInstance];
                
                <tr>
                    <td class="px-6 py-3 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900">
                        <input type="checkbox" value="@workflowInstance.Id" @onchange="@(e => OnWorkflowInstanceCheckChange(e, workflowInstance))" checked="@isSelected" class="focus:ring-blue-500 h-4 w-4 text-blue-600 border-gray-300 rounded"/>
                    </td>
                    <td class="px-6 py-3 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900">
                        <a href="@($"workflow-instances/{workflowInstance.Id}/viewer")" class="truncate hover:text-gray-600">
                            @workflowInstance.Id
                        </a>
                    </td>
                    <td class="px-6 py-3 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900 text-left">
                        <a href="@($"workflow-registry/{workflowInstance.DefinitionId}/viewer")" class="truncate hover:text-gray-600">
                            @displayName
                        </a>
                    </td>
                    <td class="hidden md:table-cell px-6 py-3 whitespace-no-wrap text-sm leading-5 text-gray-500 text-right">
                        @workflowInstance.Version
                    </td>
                    <td class="px-6 py-3 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900 text-left">
                        <a href="@($"workflow-registry/{workflowInstance.DefinitionId}/viewer")" class="truncate hover:text-gray-600">
                            @instanceName
                        </a>
                    </td>
                    <td class="hidden md:table-cell px-6 py-3 whitespace-no-wrap text-sm leading-5 text-gray-500 text-right">
                        <div class="flex items-center space-x-3 lg:pl-2">
                            <div class="flex-shrink-0 w-2.5 h-2.5 rounded-full bg-@statusColor-600"></div>
                            <span>@workflowInstance.WorkflowStatus</span>
                        </div>
                    </td>
                    <td class="hidden md:table-cell px-6 py-3 whitespace-no-wrap text-sm leading-5 text-gray-500 text-left">
                        @workflowInstance.CreatedAt
                    </td>
                    <td class="hidden md:table-cell px-6 py-3 whitespace-no-wrap text-sm leading-5 text-gray-500 text-left">
                        @(workflowInstance.FinishedAt != null ? workflowInstance.FinishedAt.ToString() : "-")
                    </td>
                    <td class="hidden md:table-cell px-6 py-3 whitespace-no-wrap text-sm leading-5 text-gray-500 text-left">
                        @(workflowInstance.LastExecutedAt != null ? workflowInstance.LastExecutedAt.ToString() : "-")
                    </td>
                    <td class="hidden md:table-cell px-6 py-3 whitespace-no-wrap text-sm leading-5 text-gray-500 text-left">
                        @(workflowInstance.FaultedAt != null ? workflowInstance.FaultedAt.ToString() : "-")
                    </td>
                    <td class="pr-6">
                        <ContextMenu>
                            <ContextMenuItem Url="@viewUrl">
                                <svg class="mr-3 h-5 w-5 text-gray-400 group-hover:text-gray-500 group-focus:text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                    <path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z"/>
                                    <path fill-rule="evenodd" d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" clip-rule="evenodd"/>
                                </svg>
                                View
                            </ContextMenuItem>
                            @if (workflowInstance.WorkflowStatus == WorkflowStatus.Faulted)
                            {
                                <ContextMenuDivider/>
                                <ContextMenuItem OnClick="@(() => OnRetryWorkflowInstanceClick(workflowInstance))">
                                    <svg class="mr-3 h-5 w-5 text-gray-400 group-hover:text-gray-500 group-focus:text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                        <path fill-rule="evenodd" d="M4 2a1 1 0 011 1v2.101a7.002 7.002 0 0111.601 2.566 1 1 0 11-1.885.666A5.002 5.002 0 005.999 7H9a1 1 0 010 2H4a1 1 0 01-1-1V3a1 1 0 011-1zm.008 9.057a1 1 0 011.276.61A5.002 5.002 0 0014.001 13H11a1 1 0 110-2h5a1 1 0 011 1v5a1 1 0 11-2 0v-2.101a7.002 7.002 0 01-11.601-2.566 1 1 0 01.61-1.276z" clip-rule="evenodd"/>
                                    </svg>
                                    Retry
                                </ContextMenuItem>
                            }
                            @foreach (var menuItem in displayContext.ContextMenuItems)
                            {
                                @menuItem
                            }
                            <ContextMenuDivider/>
                            <ContextMenuItem OnClick="@(() => OnDeleteWorkflowClick(workflowInstance))">
                                <svg class="mr-3 h-5 w-5 text-gray-400 group-hover:text-gray-500 group-focus:text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                    <path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd"/>
                                </svg>
                                Delete
                            </ContextMenuItem>
                        </ContextMenu>
                    </td>
                </tr>
            }
            </tbody>
        </table>
        <Pager Page="@WorkflowInstances.Page" PageSize="@WorkflowInstances.PageSize" TotalCount="@WorkflowInstances.TotalCount"/>
    </div>
</div>