@using Flowsharp.Web.ViewComponents.Models
@using Microsoft.Extensions.Localization
@using Newtonsoft.Json
@using Newtonsoft.Json.Serialization
@using IActivity = Flowsharp.IActivity
@model dynamic
@{
    var activity = (IActivity)Model.Activity;
    var descriptor = (ActivityDescriptor) Model.ActivityDescriptor;
    var id = activity.Id;
    var endpoints = (IList<LocalizedString>)Model.Endpoints;
    var serializerSettings = new JsonSerializerSettings { ContractResolver = new CamelCasePropertyNamesContractResolver() };
    var activityJson = JsonConvert.SerializeObject(activity, serializerSettings);
    var activityEndpoints = JsonConvert.SerializeObject(endpoints);
    var designer = (ActivityDesignerMetadata)Model.Designer;
    var x = designer.X;
    var y = designer.Y;
}
<div 
    class="activity" 
    style="left:@(x)px; top:@(y)px;" 
    id="@($"activity-{id}")"
    title="@descriptor.DisplayText"
    data-activity-name="@descriptor.Name"
    data-activity-id="@id" 
    data-activity-model="@activityJson"
    data-activity-endpoints="@activityEndpoints">
    @await DisplayAsync(Model.Content)
</div>