@model dynamic
@{
    var descriptor = (ActivityDescriptor)Model.Value;
}

<div class="card activity" data-category="@descriptor.Category.Name.HtmlClassify()" data-activity-type="Action">
    <div class="card-body">
        <h4 class="card-title">@descriptor.DisplayText</h4>
        <p>@descriptor.Description</p>
    </div>
    <div class="card-footer text-muted text-xs-right">
        <a class="btn btn-primary btn-sm" href="#" data-activity-name="@descriptor.Name">@T["Add"]</a>
    </div>
</div>
