@model dynamic
@{
    var activityDescriptor = (ActivityDescriptor) Model.ActivityDescriptor;
}
<div class="card activity" data-category="@activityDescriptor.Category.Name.HtmlClassify()" data-activity-trigger="@activityDescriptor.IsTrigger.ToString().ToLower()">
    <div class="card-body">
        @await DisplayAsync(Model.Content)
    </div>
    <div class="card-footer text-muted text-xs-right">
        <a class="btn btn-primary btn-sm" href="#" data-activity-name="@activityDescriptor.Name" data-activity-display-text="@activityDescriptor.DisplayText">@T["Select"]</a>
    </div>
</div>