@page "/workflow-registry"
<!-- Page title & actions -->
<div class="border-b border-gray-200 px-4 py-4 sm:flex sm:items-center sm:justify-between sm:px-6 lg:px-8">
    <div class="flex-1 min-w-0">
        <h1 class="text-lg font-medium leading-6 text-gray-900 sm:truncate">
            Workflow Blueprints
        </h1>
    </div>
</div>
<!-- Projects list (only on smallest breakpoint) -->
<div class="mt-10 sm:hidden">
    <div class="px-4 sm:px-6">
        <h2 class="text-gray-500 text-xs font-medium uppercase tracking-wide">Workflows</h2>
    </div>
    <ul class="mt-3 border-t border-gray-200 divide-y divide-gray-100">
        <li>
            <a href="#" class="flex items-center justify-between px-4 py-4 hover:bg-gray-50 sm:px-6">
                <div class="flex items-center truncate space-x-3">
                    <div class="w-2.5 h-2.5 flex-shrink-0 rounded-full bg-pink-600"></div>
                    <p class="font-medium truncate text-sm leading-6">Document Approval</p>
                </div>
                <!-- Heroicon name: chevron-right -->
                <svg class="ml-4 h-5 w-5 text-gray-400 group-hover:text-gray-500 group-focus:text-gray-600 transition ease-in-out duration-150" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"/>
                </svg>
            </a>
        </li>

        <!-- More project rows... -->
    </ul>
</div>
<!-- Projects table (small breakpoint and up) -->
<div class="hidden mt-8 sm:block">
    <div class="align-middle inline-block min-w-full border-b border-gray-200">
        <table class="min-w-full">
            <thead>
            <tr class="border-t border-gray-200">
                <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                    <span class="lg:pl-2">Name</span>
                </th>
                <th class="px-6 py-3 border-b border-gray-200 bg-gray-50 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                    Instances
                </th>
                <th class="hidden md:table-cell px-6 py-3 border-b border-gray-200 bg-gray-50 text-right text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                    Latest Version
                </th>
                <th class="hidden md:table-cell px-6 py-3 border-b border-gray-200 bg-gray-50 text-right text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                    Published Version
                </th>
                <th class="pr-6 py-3 border-b border-gray-200 bg-gray-50 text-right text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider"></th>
            </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-100">
            @foreach (var grouping in VersionedWorkflowBlueprints)
            {
                var workflowBlueprintId = grouping.Key;
                var workflowBlueprints = grouping.OrderByDescending(x => x.Version).ToList();
                var latestVersion = workflowBlueprints.First();
                var publishedVersion = workflowBlueprints.FirstOrDefault(x => x.IsPublished);
                var displayName = latestVersion.DisplayName ?? latestVersion.Name ?? "Unnamed";
                var viewUrl = $"workflow-registry/{workflowBlueprintId}/viewer";
                <tr>
                    <td class="px-6 py-3 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900">
                        <div class="flex items-center space-x-3 lg:pl-2">
                            <a href="@viewUrl" class="truncate hover:text-gray-600">
                                <span>@displayName</span>
                            </a>
                        </div>
                    </td>
                    <td class="px-6 py-3 text-sm leading-5 text-gray-500 font-medium">
                        <div class="flex items-center space-x-2">
                            <div class="flex items-center space-x-2">
                                <div class="flex flex-shrink-0 -space-x-1">
                                    <a class="max-w-none h-9 w-9 rounded-full text-white shadow-solid p-2 text-xs bg-blue-500 hover:bg-blue-400" href="#">4</a>
                                    <a class="max-w-none h-9 w-9 rounded-full text-white shadow-solid p-2 text-xs bg-green-500 hover:bg-green-400" href="#">999</a>
                                    <a class="max-w-none h-9 w-9 rounded-full text-white shadow-solid p-2 text-xs bg-red-500 hover:bg-red-400" href="#">75</a>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="hidden md:table-cell px-6 py-3 whitespace-no-wrap text-sm leading-5 text-gray-500 text-right">
                        @latestVersion.Version
                    </td>
                    <td class="hidden md:table-cell px-6 py-3 whitespace-no-wrap text-sm leading-5 text-gray-500 text-right">
                        @(publishedVersion?.Version.ToString() ?? "-")
                    </td>
                    <td class="pr-6">
                        <ContextMenu>
                            <ContextMenuItem Url="@viewUrl">
                                <!-- Heroicon name: pencil-alt -->
                                <svg class="mr-3 h-5 w-5 text-gray-400 group-hover:text-gray-500 group-focus:text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                    <path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z"/>
                                    <path fill-rule="evenodd" d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" clip-rule="evenodd"/>
                                </svg>
                                View
                            </ContextMenuItem>
                        </ContextMenu>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>