@page "/workflow-definitions/edit"
@page "/workflow-definitions/create"
@page "/workflow-definitions/{WorkflowDefinitionId}/edit"


<div class="flex-0 border-b border-gray-200 px-4 pt-4 sm:flex sm:items-start sm:justify-between sm:px-6 lg:px-8">
    <div class="flex-1 min-w-0">
        <h1 class="text-lg font-medium leading-6 text-gray-900 sm:truncate">
            @DisplayName
        </h1>
        <p class="mt-1 text-sm text-gray-600">
            Workflow Definition
        </p>
        @* <div class="mt-6"> *@
        @*     <nav class="-mb-px flex space-x-8" aria-label="Tabs"> *@
        @*         @foreach (var item in Tabs) *@
        @*         { *@
        @*             var isCurrent = item == CurrentTab; *@
        @*             var cssClass = isCurrent ? "border-blue-500 text-gray-900" : "border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300"; *@
        @*             <a @onclick:preventDefault @onclick="@(() => SelectTab(item))" href="#" class="@cssClass whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm" aria-current="page"> *@
        @*                 @item.Text *@
        @*             </a> *@
        @*         } *@
        @*     </nav> *@
        @* </div> *@
    </div>
    @* <div class="mt-4 flex sm:mt-0 sm:ml-4"> *@
    @*     <span class="order-0 sm:order-1 sm:ml-3 shadow-sm rounded-md"> *@
    @*         <button type="button" class="inline-flex items-center px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-blue-500 hover:bg-blue-400 focus:outline-none focus:shadow-outline-blue focus:border-blue-700 active:bg-blue-700 transition duration-150 ease-in-out"> *@
    @*             Publish *@
    @*         </button> *@
    @*     </span> *@
    @* </div> *@
</div>

<div class="flex flex-1 relative">

    <WorkflowEditor ServerUrl="@ElsaServerUrl" WorkflowDefinitionId="@WorkflowDefinitionId"/>

    @* @if (CurrentTab.Name == "Designer") *@
    @* { *@
    @*     <WorkflowEditor ServerUrl="@ElsaServerUrl" WorkflowDefinitionId="@WorkflowDefinitionId"/> *@
    @* } *@
    @* else if (CurrentTab.Name == "Dsl") *@
    @* { *@
    @*     <div class="p-10"> *@
    @* *@
    @*     </div> *@
    @* } *@
    @* else if (CurrentTab.Name == "Settings") *@
    @* { *@
    @*     <Settings WorkflowDefinition="@WorkflowDefinition" OnChanged="@OnSettingsChanged"/> *@
    @* } *@
    @* <FlyoutPanel/> *@
</div>