@model SendEmailViewModel
<div class="form-group">
    <label asp-for="From">@T["From"]</label>
    <vc:expression-editor model="@Model.From" prefix="@Html.NameFor(m => m.From)"></vc:expression-editor>
    <span asp-validation-for="From" class="text-danger"></span>
    <small class="form-text text-muted">@T["The sender's email address."]</small>
</div>
<div class="form-group">
    <label asp-for="To">@T["To"]</label>
    <vc:expression-editor model="@Model.To" prefix="@Html.NameFor(m => m.To)"></vc:expression-editor>
    <span asp-validation-for="To" class="text-danger"></span>
    <small class="form-text text-muted">@T["The recipient's email address."]</small>
</div>
<div class="form-group">
    <label asp-for="Subject">@T["Subject"]</label>
    <vc:expression-editor model="@Model.Subject" prefix="@Html.NameFor(m => m.Subject)"></vc:expression-editor>
    <span asp-validation-for="Subject" class="text-danger"></span>
    <small class="form-text text-muted">@T["The subject of the email message."]</small>
</div>
<div class="form-group">
    <label asp-for="Body">@T["Body"]</label>
    <vc:expression-editor model="@Model.Body" prefix="@Html.NameFor(m => m.Body)"></vc:expression-editor>
    <span asp-validation-for="Body" class="text-danger"></span>
    <small class="form-text text-muted">@T["The message to send."]</small>
</div>