@model HttpRequestActionViewModel
<div class="form-group">
    <label asp-for="Url">@T["Url"]</label>
    <vc:expression-editor model="@Model.Url" prefix="@Html.NameFor(m => m.Url)"></vc:expression-editor>
    <span asp-validation-for="Url" class="text-danger"></span>
    <small class="form-text text-muted">@T["The relative path that will trigger this activity. Example: '/webhooks/my'"]</small>
</div>
<div class="form-group">
    <label asp-for="Method">@T["Method"]</label>
    <select class="form-control" asp-for="Method" asp-items="Model.GetAvailableHttpMethods()"></select>
    <span asp-validation-for="Method" class="text-danger"></span>
    <small class="form-text text-muted">@T["The HTTP method to use for the request."]</small>
</div>
<div class="form-group">
    <label asp-for="Body">@T["Body"]</label>
    <vc:expression-editor model="@Model.Body" prefix="@Html.NameFor(m => m.Body)"></vc:expression-editor>
    <span asp-validation-for="Body" class="text-danger"></span>
    <small class="form-text text-muted">@T["The HTTP request body to send along with the request."]</small>
</div>
<div class="form-group">
    <label asp-for="ContentType">@T["Content Type"]</label>
    <vc:expression-editor model="@Model.ContentType" prefix="@Html.NameFor(m => m.ContentType)"></vc:expression-editor>
    <span asp-validation-for="ContentType" class="text-danger"></span>
    <small class="form-text text-muted">@T["The Content-Type header send along with the request."]</small>
</div>
<div class="form-group">
    <label asp-for="RequestHeaders">@T["Request Headers"]</label>
    <vc:expression-editor model="@Model.RequestHeaders" prefix="@Html.NameFor(m => m.RequestHeaders)"></vc:expression-editor>
    <span asp-validation-for="RequestHeaders" class="text-danger"></span>
    <small class="form-text text-muted">@T["Any additional headers to send along with the request, one per line. For example: my-header-one=foo\r\nmy-header-two=bar"]</small>
</div>
<div class="form-group">
    <label asp-for="SupportedStatusCodes">@T["Handle Status Codes"]</label>
    <input asp-for="SupportedStatusCodes" class="form-control"/>
    <span asp-validation-for="SupportedStatusCodes" class="text-danger"></span>
    <small class="form-text text-muted">@T["A comma-separated list of HTTP status codes to handle. These will be used to emit the activity's endpoints."]</small>
</div>