@model HttpResponseActionViewModel
<div class="form-group">
    <label asp-for="StatusCode">@T["HTTP Status Code"]</label>
    <input asp-for="StatusCode" class="form-control" type="number" min="0" max="999"/>
    <span asp-validation-for="StatusCode" class="text-danger"></span>
    <small class="form-text text-muted">@T["The HTTP status code to return."]</small>
</div>
<div class="form-group">
    <label asp-for="Body">@T["Body"]</label>
    <vc:expression-editor model="@Model.Body" prefix="@Html.NameFor(m => m.Body)"></vc:expression-editor>
    <span asp-validation-for="Body" class="text-danger"></span>
    <small class="form-text text-muted">@T["The HTTP request body to send along with the response."]</small>
</div>
<div class="form-group">
    <label asp-for="ContentType">@T["Content Type"]</label>
    <vc:expression-editor model="@Model.ContentType" prefix="@Html.NameFor(m => m.ContentType)"></vc:expression-editor>
    <span asp-validation-for="ContentType" class="text-danger"></span>
    <small class="form-text text-muted">@T["The Content-Type header value to return."]</small>
</div>
<div class="form-group">
    <label asp-for="ResponseHeaders">@T["Response Headers"]</label>
    <vc:expression-editor model="@Model.ResponseHeaders" prefix="@Html.NameFor(m => m.ResponseHeaders)"></vc:expression-editor>
    <span asp-validation-for="ResponseHeaders" class="text-danger"></span>
    <small class="form-text text-muted">@T["Any additional header to return, one per line. For example: my-header-one=foo\r\nmy-header-two=bar"]</small>
</div>