@using OrchardCore.Mvc.Core.Utilities
@model HttpRequestActionViewModel
<div class="form-group">
    <label asp-for="Url">@T["Url"]</label>
    <input asp-for="Url" class="form-control"/>
    <span asp-validation-for="Url" class="text-danger"></span>
    <small class="form-text text-muted">@T["The relative path that will trigger this activity. Example: '/webhooks/my'"]</small>
</div>
<div class="form-group">
    <label asp-for="Method">@T["Method"]</label>
    <select class="form-control" asp-for="Method" asp-items="Model.GetAvailableHttpMethods()"></select>
    <span asp-validation-for="Method" class="text-danger"></span>
    <small class="form-text text-muted">@T["The HTTP method to use for the request."]</small>
</div>
<div class="form-group">
    <label asp-for="Body">@T["Body"]</label>
    <vc:expression-editor model="@Model.Body" prefix="@Html.NameFor(m => m.Body)"></vc:expression-editor>
    <span asp-validation-for="Body" class="text-danger"></span>
    <small class="form-text text-muted">@T["The HTTP request body to send along with the request."]</small>
</div>