@using OrchardCore.Mvc.Core.Utilities
@model Elsa.Web.Activities.Http.ViewModels.HttpRequestTriggerViewModel
<div class="form-group">
    <label asp-for="Path">@T["Path"]</label>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon3">@Url.GetBaseUrl()</span>
        </div>
        <input asp-for="Path" class="form-control"/>
    </div>
    <span asp-validation-for="Path" class="text-danger"></span>
    <small class="form-text text-muted">@T["The relative path that will trigger this activity. Example: '/webhooks/my'"]</small>
</div>
<div class="form-group">
    <label asp-for="Method">@T["Method"]</label>
    <select class="form-control" asp-for="Method" asp-items="Model.GetAvailableHttpMethods()"></select>
    <span asp-validation-for="Method" class="text-danger"></span>
    <small class="form-text text-muted">@T["The HTTP method to match.'"]</small>
</div>
<div class="form-group">
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input"/>
        <label class="custom-control-label">@T["Include nonce"]</label>
    </div>
    <small class="form-text text-muted">@T["Check to generate a nonce that needs to be included when invoking the URL.'"]</small>
</div>
<div class="form-group">
    <div class="custom-control custom-checkbox">
        <input asp-for="ReadContent" type="checkbox" class="custom-control-input"/>
        <label asp-for="ReadContent" class="custom-control-label">@T["Read content"]</label>
    </div>
    <small class="form-text text-muted">@T["Check to read the request body. If the content type represents a form, the body is parsed as a collection of key/value pairs. Otherwise the body is stored as a raw string'"]</small>
</div>