@model ActivityPickerViewModel

<div id="flowsharp-activity-picker" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="Activity Picker" aria-hidden="true" style="display: none;" data-activity-trigger="false">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@T["Add Activity"]</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-3 col-md-3 col-lg-2">
                        <div class="form-group">
                            <input class="form-control" type="search" placeholder="@T["Filter"]" aria-label="@T["Filter"]" autofocus>
                        </div>
                        <ul class="nav nav-pills flex-column activity-picker-categories">
                            <li class="nav-item">
                                <a class="nav-link active" href="#all" data-toggle="pill">All</a>
                            </li>
                            @foreach (var category in Model.ActivityCategories)
                            {
                                <li class="nav-item" data-category="@category.Name.HtmlClassify()">
                                    <a class="nav-link" href="#@category.Name.HtmlClassify()" data-toggle="pill">@category</a>
                                </li>
                            }
                        </ul>
                    </div>
                    <div class="col-sm-9 col-md-9 col-lg-10">
                        <div class="card-columns tab-content">
                            @foreach (var cardShape in Model.ActivityCardShapes)
                            {
                                @await DisplayAsync(cardShape)
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
</div>

<script asp-name="flowsharp-activity-picker-script" asp-src="~/Flowsharp.Web.ViewComponents/activity-picker.js" at="Foot"></script>