@model ICollection<WorkflowSummaryViewModel>

<div>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">@T["Workflows"]</h1>
        <div class="btn-toolbar mb-2 mb-md-1">
            <nav class="admin-toolbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="btn btn-sm btn-primary" asp-action="New">@T["Create Workflow"]</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <table id="dataTable" class="table table-striped table-bordered dataTable" width="100%" role="grid" aria-describedby="dataTable_info" style="width: 100%;" data-turbolinks="false">
        <thead>
        <tr role="row">
            <th class="sorting" tabindex="0" aria-controls="dataTable" aria-label="Id: activate to sort column ascending" style="width: 214px;">ID</th>
            <th class="sorting_asc" tabindex="0" aria-controls="dataTable" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 281px;">Name</th>
            <th class="sorting" tabindex="0" aria-controls="dataTable" aria-label="Description: activate to sort column ascending" style="width: 313px;">Description</th>
            <th tabindex="0" aria-controls="dataTable" style="width: 314px;">Execution</th>
            <th tabindex="0" aria-controls="dataTable" style="width: 214px;">Actions</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <th rowspan="1" colspan="1">ID</th>
            <th rowspan="1" colspan="1">Name</th>
            <th rowspan="1" colspan="1">Description</th>
            <th rowspan="1" colspan="1">Execution</th>
            <th rowspan="1" colspan="1">Actions</th>
        </tr>
        </tfoot>
        <tbody>
        @{
            var index = 0;
        }
        @foreach (var workflowSummary in Model)
        {
            var workflowDefinition = workflowSummary.Workflow;
            var workflowId = workflowDefinition.Id;
            var rowClass = index % 2 == 0 ? "even" : "odd";
            index++;

            <tr role="row" class="@rowClass">
                <td>
                    <a asp-action="Edit" asp-route-id="@workflowId">@workflowId</a>
                </td>
                <td class="sorting_1">@workflowDefinition.Metadata.Name</td>
                <td>@workflowDefinition.Metadata.Description</td>
                <td>
                    @if (workflowSummary.NumHalted > 0)
                    {
                        <a asp-action="Halted" asp-route-parentId="@workflowId" class="btn btn-sm btn-info">@T["Halted"] <span class="badge badge-light">@workflowSummary.NumHalted</span></a>
                    }
                    @if (workflowSummary.NumFaulted > 0)
                    {
                        <a asp-action="Faulted" asp-route-parentId="@workflowId" class="btn btn-sm btn-danger">@T["Faulted"] <span class="badge badge-light">@workflowSummary.NumFaulted</span></a>
                    }
                    @if (workflowSummary.NumFinished > 0)
                    {
                        <a asp-action="Finished" asp-route-parentId="@workflowId" class="btn btn-sm btn-success">@T["Finished"] <span class="badge badge-light">@workflowSummary.NumFinished</span></a>
                    }
                </td>
                <td><a asp-action="Edit" asp-route-id="@workflowDefinition.Id">@T["edit"]</a> | delete | enable</td>
            </tr>
        }
        </tbody>
    </table>

</div>