@using Elsa.Extensions
@model Workflow
@{
    var title = Model.Id == null ? T["New Workflow"] : T["Edit {0}", Model.Metadata.Name];
    var isDefinition = Model.IsDefinition();
}
<div class="workflow-editor-container" data-workflow-id="@Model.Id">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">@title</h1>
        <div class="btn-toolbar mb-2 mb-md-1">
            <nav class="admin-toolbar">
                @if (isDefinition)
                {
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <button type="button" class="add-trigger-button btn btn-sm btn-secondary" data-toggle="modal" data-target="#elsa-activity-picker" data-picker-title="@T["Available Triggers"]" data-activity-trigger="true">@T["Add Trigger"]</button>
                            <button type="button" class="add-action-button btn btn-sm btn-secondary" data-toggle="modal" data-target="#elsa-activity-picker" data-picker-title="@T["Available Actions"]" data-activity-trigger="false">@T["Add Action"]</button>
                        </li>
                    </ul>
                }
            </nav>
        </div>
    </div>
    @await Component.InvokeAsync("WorkflowDesigner", new { workflow = Model })
    
    @if (isDefinition)
    {
        @await Component.InvokeAsync("ActivityPicker")
        @await Component.InvokeAsync("ActivityEditor")
    }
    
    <div class="fixed-bottom p-3 m-3 clearfix">
        <div class="float-right">
            @if (isDefinition)
            {
                <button id="save-workflow-button" type="button" class="btn btn-sm btn-primary">Save</button>
            }
            <div class="btn-group btn-group-sm" role="group">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @T["Export"]
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item export-workflow-button" href="#json">json</a>
                    <a class="dropdown-item export-workflow-button" href="#yaml">yaml</a>
                    <a class="dropdown-item export-workflow-button" href="#xml">xml</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script asp-name="elsa-workflow-editor-script" asp-src="~/Elsa.Web.Management/workflow-editor.js" at="Foot"></script>