@using OrchardCore.Mvc.Utilities
@model Elsa.Web.Shapes.ActivityCard
@{
    var descriptor = Model.ActivityDescriptor;
    var designer = Model.ActivityDesignerDescriptor;
}
<div class="card activity" data-category="@designer.Category.Name.HtmlClassify()" data-activity-trigger="@descriptor.IsTrigger.ToString().ToLower()">
    <div class="card-body">
        <h4 class="card-title"><i class="far fa-envelope"></i>@designer.DisplayName</h4>
        <p>@designer.Description</p>
    </div>
    <div class="card-footer text-muted text-xs-right">
        <a class="btn btn-primary btn-sm" href="#" data-activity-name="@descriptor.ActivityTypeName" data-activity-display-text="@designer.DisplayName">@T["Select"]</a>
    </div>
</div>